.form-dark .font-small {
    font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }

.form-dark .md-form label {
    color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
    color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }

.form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}

/* aqui termina el modal  */








#containerGames{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#container {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

}

h1 {
    margin-bottom: 25px;
    font-size: 7rem;
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #5f5eff 0px 0px 20px, #5f5eff 0px 0px 30px, #5f5eff 0px 0px 40px, #5f5eff 0px 0px 50px, #5f5eff 0px 0px 75px;
    color: #FFFFFF;
    background: #333333;
}

#gameTitle {
    margin-top: 0px;
    font-size: 5rem;
}

button {
    border-radius: 5px;
}

label {
    margin-right: 15px;
}

/*#signin {
    margin-left: 15px;
}*/

#tablesHome {
    display: flex;
    margin-top: 25px;
    border-top: 2px solid grey;

}

.tablesHome2 {
    margin-top: 25px;
}

.listStyle1 {
    list-style: lower-roman;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;

    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Estilo grid*/

table {
    border: solid 0.2rem gray;
    border-collapse: collapse;

}

thead tr {
    border-bottom: solid 0.2rem gray;

}
thead th {
    border-left: solid 0.1rem lightgray;
    font-size: 1.0rem;
}

td {
    border-bottom: solid 0.1rem lightgray;
    border-radius: 10px;
}

.letters {
    border-right: solid 0.2rem gray;
    font-size: 1.5rem;
    font-weight: bold;
}
.column {
    border-right: solid 0.1rem lightgray;
}

th, td {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

p {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    color: grey;
}

#userPlayer {
    color: #FFFFFF;
    font-weight: bold;
}

#userPlayer, #userOpponent {
    font-size: 2rem;
    color: #FFFFFF;
}
.vs {
    font-size: 3rem;
    color: #FFFFFF;
}

#salvosTable {
    margin-left: 3rem;
}
.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.tablesButtons {
    display: flex;
    justify-content: center;
    width: 72%;
}

h3 {
    text-align: center;
}

/* estilo tabla leaderBoard*/

#leaderBoard th, #tableGames th {
    width: 5rem;
    border-left: 0;
    border-right: 0;
}
#tableLeader td, #tableGames td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0;

}

#leaderBoard thead, #tableGames thead {
    background-color:  #395870;
    color: white;
    border-color:  #395870;

}
#leaderBoard thead tr, #tableGames thead tr {
    border-bottom-color: #395870;
}

#leaderBoard, #tableGames {
    border-color:  #395870;
    width: 90%;

}
#tableLeader tr:nth-child(even), #tableGames tr:nth-child(even){
    background: #f0f0f2;
}

/*Estilo tabla Games*/

.btnGo {

    width: 50px;
    height: 30px;
}

/* Estilo login */

#login {

}

#currentUser{
    display: none;
    font-size: 2rem;
    margin-right: 15px;
}

#logout {
    /*  margin-left: 10rem;
      background-color: rgb(231, 76, 60);
      font-weight: bold;
      padding-bottom: 5px;
      padding-top: 5px;*/
}
/*Estilo drag and drop*/

#aircraft {

   /* width: 12.5rem;
    height: 2.5rem;
    background-color: forestgreen;
    border: 2px solid black;
    border-radius: 10px;*/
   background-image: url("../img/aircraft.jpg");
    background-size: 102%;
    background-position-x: center;
    /* text-align: center; */
    background-position-y: center;
    background-repeat: no-repeat;
    width: 12.5rem;
    height: 2.5rem;
   /* width: 100%;*/
    border-radius: 62px;
}



#battleship {
    width: 10rem;
    height: 2.5rem;
    background-image: url("../img/battleship.jpg");
    background-size: 102%;
    background-position-x: center;
    /* text-align: center; */
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 62px;
}

#destroyer {
    width: 7.5rem;
    height: 2.5rem;
    background-image: url("../img/destroyer.jpg");
    background-size: 102%;
    background-position-x: center;
    /* text-align: center; */
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 62px;
}

#submarine {
    width: 7.5rem;
    height: 2.5rem;
    background-image: url("../img/submarine.jpg");
    background-size: 102%;
    background-position-x: center;
    /* text-align: center; */
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 62px;
}

#patrolboat {
    width: 5rem;
    height: 2.5rem;
    background-image: url("../img/patrol.jpg");
    background-size: 102%;
    background-position-x: center;
    /* text-align: center; */
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 62px;
}

[draggable] {
    user-select: none;
}

#aircraft:hover, #battleship:hover, #destroyer:hover, #submarine:hover, #patrolboat:hover {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
    opacity: 0.4;
    cursor: move;
}

#ships {
    /*margin-left: 25px;*/
    /*margin-top: 55px;*/
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aircraft, .battleship, .destroyer, .submarine, .patrolboat {
/* margin-top: 50px;*/
}

.verticalAircraft {
   transform: rotate(90deg);
   transform-origin: 15% 25%;
   margin-bottom: 75px;
   margin-top: 75px;
}


.verticalBattleship {
   transform: rotate(90deg);
   transform-origin: 20% 20%;
   margin-bottom: 50px;
   margin-top: 75px;
}

.verticalDestroyer, .verticalSubmarine {
   transform: rotate(90deg);
   transform-origin: 25% 25%;
   margin-bottom: 25px;
   margin-top: 75px;
}

.verticalPatrolboat {
   transform: rotate(90deg);
   transform-origin: 33% 33%;
   margin-bottom: 0px;
   margin-top: 65px;
}

.table3 {
   margin-bottom: 25px;
}

#state {
   font-size: 1.5rem;
   color: grey;
   margin-bottom: 25px;

}

.gameOver {
   display: none;
}

#createShips, #createSalvo {
   width: 100px;
   height: 40px;
   font-weight: bold;
}

#createShips {

    height: 52px;
}

#createSalvo {
    position: absolute;
    top: 22%;
    left: 45%;
}

#createShips:hover, #createSalvo:hover {
   opacity: 0.4;
}

.winLose {

   font-size: 4.5rem;
   font-weight: bold;
   color: black;

}


.cambio {
    width: 25%;
}













